body {
    background-image: url("https://img.freepik.com/premium-photo/abstract-digital-communication_34629-318.jpg");
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  }

  
  .input-group {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  
  
  
  .book-button {
    padding: 10px 60px;
    background-color: #4874d3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .book-button:hover {
    background-color: #0056b3;
  }
  
  .booked-slots {
    margin-top: 50px;
  }
  
  .slot-list {
    list-style-type: none;
    padding: 0;
  }
  
  .slot-list li {
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #ffffff94;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .slot-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(247, 244, 244, 0.805);
  }
  
  .slot-actions {
    display: flex;
    align-items: center;
  }
  
  .cancel-button {
    margin-left: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
  }
  
  .cancel-button:hover {
    background-color: #c82333;
  }
  
  h1 {
    color: #9bb4cf ;
    font-size: 2em;
    font-weight: bold;
  }
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      text-align: center;
    }
  
    .logout-button {
      margin-top: 10px;
      width: 100%;
    }
  }
  